In [1]:
import pybaseball as bb
import pandas as pd

Returns the batting average of each position  from 2019 season

Batter must have a min of 50 at-bats (AB) 


IDEA: plot positonal batting average over time

In [7]:
# initialize global variables
appearances = pd.read_csv('/Users/mason/w/cs/fun/baseball/data/core/Appearances.csv')
start_dt = '2019-03-19'
end_dt = '2019-10-31'

def get_position(player_id: int, year: int = 2019) -> str:
    soup = bb.split_stats.get_split_soup(player_ids[0], year)
    info = bb.split_stats.get_player_info(player_ids[0], soup)
    return info['Position']

In [3]:
# retrieve batting stats
batting = bb.batting_stats_range(start_dt, end_dt)
# filter by min 50 AB
batting = batting[batting['AB'] > 50]

In [4]:
# get list of (last_name, first_name) tuples of all players
players = list(batting['Name'])
players = [name.split() for name in players]
players = [(name[1], name[0]) for name in players]

In [16]:
# retrieve player IDs of each player in players
player_ids = bb.player_search_list(players)
# player_ids = list(player_ids['key_bbref'])

I now have every player's id, batting average, and position

TODO: Group the players by position and average the batting average

In [19]:
len(batting)

541

In [8]:
batting

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,HBP,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS
1,José Abreu,32,596,MLB-AL,Chicago,159,693,634,85,180,...,13,0,10,24,2,2,0.284,0.330,0.503,0.834
2,Ronald Acuna Jr.,21,601,MLB-NL,Atlanta,156,715,626,127,175,...,9,0,1,8,37,8,0.280,0.365,0.518,0.883
4,Willy Adames,23,596,MLB-AL,Tampa Bay,152,584,531,69,135,...,3,3,1,9,4,2,0.254,0.317,0.418,0.735
6,Matt Adams,30,596,MLB-NL,Washington,111,333,310,42,70,...,2,0,1,7,0,0,0.226,0.276,0.465,0.741
8,Ehire Adrianza,29,613,MLB-AL,Minnesota,83,236,202,34,55,...,6,2,4,2,0,2,0.272,0.349,0.416,0.765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,Mike Yastrzemski,28,596,MLB-NL,San Francisco,107,411,371,64,101,...,4,1,3,4,2,4,0.272,0.334,0.518,0.852
1021,Christian Yelich,27,616,MLB-NL,Milwaukee,129,579,488,100,161,...,8,0,3,8,30,2,0.330,0.430,0.672,1.102
1027,Ryan Zimmerman,34,596,MLB-NL,Washington,52,190,171,20,44,...,0,0,2,4,0,0,0.257,0.321,0.415,0.736
1029,Ben Zobrist,38,596,MLB-NL,Chicago,47,176,150,24,39,...,1,0,2,6,0,0,0.260,0.358,0.313,0.671
1030,Mike Zunino,28,596,MLB-AL,Tampa Bay,89,289,266,30,44,...,3,0,0,4,0,0,0.165,0.232,0.312,0.544

In [24]:
len(players)

541

In [21]:
len(names)

541

541